# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# Uploads and runtime files
tmp/
tmp/*

# Editor files
.vscode/
.idea/
